.btn-dark01 {
    color: #fff !important; 
    background-color: #1e68b3 !important;
    border-color: #343a40 !important;
  }
  
  .btn-dark01:hover {
    color: #23272b !important;
    background-color: #fff !important;
    border-color: #1d2124 !important;
  }

  .perguntaspg {
    width: 70% !important;
    margin: auto !important;
}

.perguntaspg h5 {
    color: black !important;
    font-weight: bold !important;
    text-decoration: none !important;
    text-align: center;
}

.perguntaspg .accordion .card-header .btn-link {
    color: black !important;
    font-weight: bold !important;
    text-decoration: none !important;
}
.titma{
  text-align: center;
}
.logo1{
  height: 3rem;
  max-height: 3rem;
}

@font-face {
  font-family: 'Norwester';
  src: url('fonts/Norwester.woff2') format('woff2'), 
       url('fonts/Norwester.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fonte {
  font-family: 'Norwester';
  font-size: 28px !important; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.fontepequena{
  font-family: 'Norwester';
  font-size: 20px !important;
}
.fontemedia {
  font-family: 'Norwester';
  font-size: 28px !important; 
}

.coramarelo{
  color: #cff632 !important;
}
.corroxo{
  background-color: #7100e9;
}
.btn-amarelo {
  color: #7100e9;
  background-color: #cff632;
}

.btn-amarelo:hover {
  color: #000000;
  background-color: white;
}
.textroxo{
  color: #7100e9;
}
.fundoamarelo{
  background-color: #cff632;
}


@media (max-width: 767px) {
  .contcarrosel img {
    object-fit: cover;
    object-position: center;
    height: 15em;
  }

  .contcarrosel {
    height: 15em;
    background-color: #000000;
  }
  .divbtnlogin{
    width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .imputlogin{
    margin-top: 5%;
  }
  .maiorlogin{
    width: 80%;
    margin: auto;
    padding: auto;
  }
  .perguntasfreq{
    width: 90%;
    margin: auto;
  }
  .contmodal{
    width: 80% !important;
  }
  .contemodal{
    width: 100% !important;
  }
  .newsletters  {
    width: 90%;
    height: 14rem;
  }
  .separardestaq{
    width: 80%;
  }
  .textmenor{
    font-size: 40px;
  }
}
.logotimes{
  width: 3rem;
}
.bolagol{
  width: 1rem;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .contcarrosel img {
    object-fit: cover;
    object-position: center;
    height: 18em;
  }

  .contcarrosel {
    height: 18em;
    background-color: #000000;
  }
  .divbtnlogin{
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .imputlogin{
    margin-top: 3%;
  }
  .maiorlogin{
    width: 80%;
    margin: auto;
    padding: auto;
  }
  .perguntasfreq{
    width: 70%;
    margin: auto;
  }
  .contmodal{
    width: 80% !important;
  }
  .contemodal{
    width: 100% !important;
  }
  .newsletters  {
    width: 80%;
    height: 14rem;
  }
}

@media (min-width: 1025px) and (max-width: 1829px) {
  .contcarrosel img {
    object-fit: cover;
    object-position: center;
    height: 22em;
  }

  .contcarrosel {
    height: 22em;
    background-color: #000000;
  }
  .divbtnlogin{
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .imputlogin{
    margin-top: 2%;
  }
  .maiorlogin{
    width: 80%;
    margin: auto;
    padding: auto;
  }
  .perguntasfreq{
    width: 60%;
    margin: auto;
  }
  .contmodal{
    width: 80% !important;
  }
  .contemodal{
    width: 100% !important;
  }
  .newsletters  {
    width: 70%;
    height: 14rem;
  }

}
@media (min-width: 1830px) {
  .contcarrosel img {
    object-fit: cover;
    object-position: center;
    height: 25em;
  }

  .contcarrosel {
    height: 25em;
    background-color: #000000;
  }
  .newsletters  {
    width: 70%;
    height: 15rem;
  }
  .divbtnlogin{
    width: 50%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
  }
  .imputlogin{
    margin-top: 2%;
  }
  .maiorlogin{
    width: 80%;
    margin: auto;
    padding: auto;
  }
  .perguntasfreq{
    width: 60%;
    margin: auto;
  }
  .contmodal{
    width: 80% !important;
  }
  .contemodal{
    width: 100% !important;
  }
}


.fundobranco{
  background-color: #ffffff;
}

.textnegrito{
  font-weight: bold;
}
.btnlogin{
  width: 100%;
  color: white;
}
.btnlogin:hover {
  color: #cff632;
  border-color: #cff632;
}

.btnlogin:focus, .btndestques:focus {
  box-shadow: 0 0 0 0.2rem rgba(147, 194, 18, 0.5);
}
.divbtndestques{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.btndestques{
  width: 100%;
  background-color: #7100e9;
  color: white;
}
.btndestques:hover {
  color: #cff632;
  border-color: #cff632;
}

.newsletters  {
  margin: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 1%;
  font-family: 'Norwester';
  color: #cff632;
}
.parterodape {
  height: 5rem;
}
.imputnews{
  width: 70%;
  margin-bottom: 0.5rem; 
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}
.orgnews{
  margin-top: 1rem;
}
.btnnews{
  background-color: #cff632;
}
.arrumerrodape{
  background-color: white;
}
.textbranco{
  color: white;
}

.voltarr {
  background-color: #cff632;
  width: 100%;
  height: 2rem;
  text-align: center;
  font-family: 'Norwester';
  font-size: 20px !important;
  color: #7100e9;
  text-decoration: none !important;
  display: block;
}

.voltarr div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.voltarr:hover{
  color: #000000;
}
.fundocinza{
  background-color: #F7F7F7;
}